# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr

*.local
# files of liserp

assets
backups

components
dist
docman
lisClient
lisServer
lisSocket
node_modules
patches

temp



# Config Files

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
package.json
package-lock.json

# media files
*.jpg
*.png
*.pdf
